<template>
	<require from="/dist/templates/elements/messageballon"></require>
	<section class="au-animate">
		<h2></h2>
		<div class="container-fluid">
			<div class="panel panel-default" show.bind="!config.chatOn">
				<div class="panel-body">
					<div class="row-centered">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
							Join this chatroom as:
							<span show.bind="userService.fetchingNickName">
								wait (generating nickname)
							</span>
							${user.nickName}
						</div>
					</div>
					<div class="row-centered">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered">
							<form role="form" submit.delegate="enter()">
								<a href="?#/settings" class="btn btn-link btn-sm">change nickname</a>
								<button type="submit" class="btn btn-primary btn-sm">Yes</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default" show.bind="config.chatOn">
				<div id="messages-box" class="panel-body">
					<div class="row" repeat.for="message of messages">
						<messageballon data.bind="message"></messageballon>
					</div>
				</div>
				<div class="panel-footer">
					<form role="form" submit.delegate="sendMessage()">
						<div class="input-group">
							<input type="text" value.bind="newMessage" class="form-control input-sm chat_input" placeholder="..."/>
							<div id="speech-text"></div>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-success btn-sm">Send</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</template>